body {
    background-color: #E0C9A9;
}

h1 {
    color: #963102;
    text-align: center;
}

p {
    color: black;
}

h5 {
    color: white;
    background-color: #963102;
    text-align: center;
    border-radius: 20px;
    width: 390px;
    padding: 5px;
}
